.logo-header {
    height: 45px;     
    width: auto;       
    object-fit: contain;
    margin-right: 10px;
}

.logo-tondo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .logo-tondo {
        width: 60px;
        height: 60px;
    }
}

body {
    padding-top: 80px; 
}

.navbar-nav {
    gap: 20px; 
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
    color: #fff !important; 
}

@media (max-width: 991px) {
    
    .offcanvas-body .nav-link {
        font-size: 1.2rem;   
        padding: 15px 0;         
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    }

    .offcanvas-body .nav-link:last-child {
        border-bottom: none;
    }

    .navbar-nav {
        gap: 0; 
    }
}